@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
body{
  font-family: Montserrat, Helvetica, sans-serif;
  margin: 0;
}
nav{
  background: #333;
  padding: 1rem;
  font-size: 1.25rem;
}
nav img{
  max-width: 1.25rem;
  min-width: 1.25rem;
  max-height: 1.25rem;
  min-height: 1.25rem;
  background: white;
  border-radius: 100%;
}
nav div{
  float: right;
}
nav a{
  text-decoration: none;
  color: white;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
header{
  display: flex;
  background: #777;
  padding: 1rem;
}
header h1{
  display: inline-block;
  font-size: 1.15rem;
  flex: 1;
  color: #ccc;
}
header input{
  background: transparent;
  color: white;
  float: right;
  border: none;
  width: 10rem;
  border-bottom: #222 0.25rem solid;
  height: 1.25rem;
  align-self: center;
}
header input::placeholder{
  color: #ddd;
}
article{
  background: black;
  color: white;
  padding: 1rem;
  display: flex;
}
article section{
  flex: 1;
  padding-left: 0.75rem;
  position: relative;
}
code{
  background: #444;
  border-radius: 0.15rem;
  padding: 0.1rem;
  text-align: left;
}
pre{
  white-space: pre-wrap;
}
del{
  color: #900;
  background: #a44;
  border-radius: 0.25rem;
}
footer{
  padding: 1rem;
  background: #222;
  color: white;
}
table{
  overflow-x: auto;
  border: 0.1rem solid grey;
  border-spacing: 0;
}
tr:first-of-type{
  background: #0af;
}
tr:nth-child(2n){
  background: #222;
}
td{
  max-width: 15rem;
  min-width: 10rem;
  text-align: center;
  padding: 0.5rem;
  overflow: auto;
}
th{
  text-transform: uppercase;
  padding: 1rem;
}
#selection{
  flex: 0;
  border-right: 1px solid #888;
  padding-right: 0.5rem;
  min-width: 14rem;
}
#selection h3{
  margin-bottom: 0;
  margin-top: 0.5rem;
}
#selection a{
  color: grey;
  display: block;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  transition: 0.25s;
  word-break: break-word;
  border-left: 0.1rem solid transparent;
  padding-left: 0.1rem;
}
#selection a:hover,.navigation a:hover{
  color: #08f;
  background: #333;
  border-left: 0.1rem solid #08f;
}
#selection a.selected{
  background: #222;
}
#output{
  overflow-x: auto;
}
#output a:not(.nav){
  color: #08f;
}
#output a[name]{
  font-weight: bold;
  color: white;
  font-size: 1.15rem;
}
#prep{
  text-align: center;
  display: flex;
  align-items: center;
  height: calc(100vh - 8rem);
}
#prep img{
  width: 5rem;
  animation: spin infinite 0.75s;
}
#dark-mode-switch{
  width: 2rem;
  height: 2rem;
  background: #333;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  box-shadow: white 0 0 0.25rem;
}
.hidden{
  display: none;
}
.type,.parent,.extends,.channel{
  display: block;
}
.type::before,.parent::before,.extends::before,.channel::before{
  font-weight: 500;
  color: #aaa;
}
.channel::before{
  content: "Channel: ";
}
.parent::before{
  content: "Parent: ";
}
.type::before{
  content: "Type: ";
}
.extends::before{
  content: "Extends ";
}
.info,.nam{
  margin-left: 1rem;
}
.info p{
  margin: 0;
}
.info{
  border-left: 0.1rem solid grey;
  padding-left: 0.25rem;
  margin-bottom: 1.5rem;
}
.navigation{
  margin: 1.5rem;
  display: flex;
}
.navigation>div{
  flex: 1;
}
.navigation a{
  display: block;
  text-decoration: none;
  color: grey;
  border-left: 0.1rem solid grey;
  padding-left: 0.25rem;
  transition: 0.25s;
}
.navigation span{
  font-weight: bold;
}
.close{
  background: #fd4;
  display: inline-block;
  width: 100%;
  color: black;
}
.mobileonly{
  display: none;
}
.close::before{
  content: "⇦ ";
  display: pre;
}
.light article{
  color: black;
  background: white;
}
.light code{
  color: white;
}
.light tr:nth-child(2n){
  background: #aaa;
}
.light #dark-mode-switch{
  background: #ddd;
  box-shadow: black 0 0 0.25rem; /* Nice dissolve... */
}
@media screen and (max-width: 800px) {
  nav img{
    display: none;
  }
  .mobileonly{
    display: block;
  }
  .mobile-dark{
    background: black;
    color: white;
    margin: 0;
    padding: 0.5rem;
  }
  .toggle + *{
    display: none;
  }
  .toggle:checked + *{
    display: block;
  }
  .mobilehide{
    display: none;
  }
}
